.wrapper {
    overflow: hidden;
}

.text {
    position: absolute;
    left: 100px;
    color: #fff;
    z-index: 1;
    cursor: default;
    text-shadow: 0 0 1px #333;
    animation: text 2s linear 1 forwards;
}

@keyframes text {
    0% {
        top: 150px;
        opacity: 0;
    }

    100% {
        top: 50px;
        opacity: 1;
    }
}

.text:hover~.main::after {
    top: 100px;
    right: 150px;
    box-shadow: 20px 15px 0 0 #FEC712;
}

.text__title {
    font-size: 30px;
}

.text__title:not(:last-child) {
    margin-bottom: 20px;
}

.text__par:not(:last-child) {
    margin-bottom: 20px;
}

.text__block {
    width: 30px;
    height: 30px;
    background-color: yellow;
    animation: text-span 5s linear infinite;
}

@keyframes text-span {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.main {
    min-height: 100vh;
    background: center / cover no-repeat url(../img/01.webp);
    position: relative;
}

.main::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    animation: main 15s linear 1 forwards;
    background-color: rgb(31 31 31);
    opacity: 0;
}

.main::after {
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 20px 15px 0 0 #bababa;
    position: absolute;
    top: -100px;
    right: -100px;
    transition: 3s all 1s ease;
}

@keyframes main {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.3;
    }

    30% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.6;
    }
}

.car {
    width: 500px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    animation: car 15s ease-in-out 1 forwards;
}

@keyframes car {
    0% {
        right: -100%;
    }

    30% {
        right: 0;
    }

    70% {
        right: 0;
    }

    100% {
        right: 100%;
    }
}

.car::before {
    content: '';
    position: absolute;
    bottom: 65px;
    left: -5px;
    width: 50px;
    height: 50px;
    background: yellow;
    border-radius: 50%;
    box-shadow: -10px -5px 20px yellow;
    opacity: 0;
    animation: headlight 15s linear 1 forwards;
}

@keyframes headlight {
    0% {
        opacity: 0;
    }

    34% {
        opacity: 0;
    }

    35% {
        opacity: 0.75;
    }

    39% {
        opacity: 0.75;
    }

    40% {
        opacity: 0;
    }

    44% {
        opacity: 0;
    }

    45% {
        opacity: 0.75;
    }

    49% {
        opacity: 0.75;
    }

    50% {
        opacity: 0;
    }

    69% {
        opacity: 0;
    }

    70% {
        opacity: 0.75;
    }

    100% {
        opacity: 0.75;
    }
}

.car::after {
    content: '';
    position: absolute;
    bottom: 70px;
    right: 0px;
    width: 50px;
    height: 50px;
    background: #c92828;
    border-radius: 50%;
    box-shadow: 10px 0px 10px #c92828;
    opacity: 0;
    animation: stop 15s linear 1 forwards;
}

@keyframes stop {
    0% {
        opacity: 0;
    }

    29% {
        opacity: 0;
    }

    30% {
        opacity: 0.75;
    }

    70% {
        opacity: 0.75;
    }

    71% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


.car__top {
    width: 270px;
    height: 100px;
    position: absolute;
    bottom: 180px;
    left: 150px;
    background-color: #1d79e2;
    border-radius: 30px 30px 0 0;
}

.car__top::before {
    content: '';
    position: absolute;
    left: -30px;
    bottom: -5px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 80px solid #1d79e2;
}

.car__top::after {
    content: '';
    position: absolute;
    right: -30px;
    bottom: -5px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 80px solid #1d79e2;
}

.car__windows {
    height: 90px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.car__window {
    background: linear-gradient(#e66465, #9198e5);
    z-index: 1;
    overflow: hidden;
}

.car__window--left {
    width: 130px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 0;
    border-radius: 70px 0 0 10px;
    animation: window 15s linear 1 forwards;
}

@keyframes window {
    0% {
        transform: none;
    }

    29% {
        transform: none;
    }

    35% {
        transform: translate(0, 80px);
    }

    69% {
        transform: translate(0, 80px);
    }

    75% {
        transform: none;
    }

    100% {
        transform: none;
    }
}

.car__window--right {
    width: 100px;
    height: 80px;
    position: absolute;
    top: 10px;
    right: 5px;
    border-radius: 0 50px 10px 0;
    animation: window 15s linear 1 forwards;
}

.car__driver {
    width: 130px;
    height: 80px;
    position: absolute;
    top: 10px;
    left: 0;
    border-radius: 70px 0 0 10px;
    background: #777 url(../img/02.png) 15px 0 no-repeat;
}

.car__passanger {
    width: 100px;
    height: 80px;
    position: absolute;
    top: 10px;
    right: 5px;
    border-radius: 0 50px 10px 0;
    background: #777 url(../img/03.png) 0 0 no-repeat;
}

.car__steering-wheel {
    width: 12px;
    height: 40px;
    border: 5px solid rgb(74, 74, 74);
    border-radius: 50%;
    position: absolute;
    left: 10px;
    bottom: 0;
    z-index: 1;
    transform: rotate(-15deg);
}

.car__steering-wheel::before {
    content: '';
    width: 10px;
    height: 5px;
    background: rgb(74, 74, 74);
    position: absolute;
    bottom: 7px;
    left: -13px;
    transform: rotate(-40deg);
}

.car__gap {
    position: absolute;
    width: 2px;
    background: rgb(74, 74, 74);
    bottom: 0px;
    left: 145px;
    height: 90px;
}

.car__body {
    width: 500px;
    height: 130px;
    background-color: #1d79e2;
    border-radius: 200px 80px 50px 30px;
    position: absolute;
    bottom: 50px;
    overflow: hidden;
    z-index: 1;
}

.car__body::before {
    content: '';
    width: 30px;
    height: 30px;
    background: yellow;
    position: absolute;
    bottom: 30px;
    left: 0;
    border-radius: 0 30px 30px 0;
    animation: light 15s linear 1 forwards;
}

@keyframes light {
    0% {
        box-shadow: none;
    }

    34% {
        box-shadow: none;
    }

    35% {
        box-shadow: 0px 0px 20px yellow;
    }

    39% {
        box-shadow: 0px 0px 20px yellow;
    }

    40% {
        box-shadow: none;
    }

    44% {
        box-shadow: none;
    }

    45% {
        box-shadow: 0px 0px 20px yellow;
    }

    49% {
        box-shadow: 0px 0px 20px yellow;
    }

    50% {
        box-shadow: none;
    }

    69% {
        box-shadow: none;
    }

    70% {
        box-shadow: 0px 0px 20px yellow;
    }

    100% {
        box-shadow: 0px 0px 20px yellow;
    }
}

.car__body::after {
    content: '';
    width: 20px;
    height: 30px;
    background: #c92828;
    position: absolute;
    bottom: 30px;
    right: 0;
    border-radius: 30px 0 0 30px;
    box-shadow: 0 0 20px #c92828;
    animation: rear 15s linear 1 forwards;
}

@keyframes rear {
    0% {
        box-shadow: none;
    }

    29% {
        box-shadow: none;
    }

    30% {
        box-shadow: 0 0 20px #c92828;
    }

    70% {
        box-shadow: 0 0 20px #c92828;
    }

    71% {
        box-shadow: none;
    }

    100% {
        box-shadow: none;
    }
}

.car__door {
    position: absolute;
    width: 2px;
    background: rgb(74, 74, 74);
    bottom: 0px;
    height: 130px;
}

.car__door--left {
    left: 130px;
}

.car__door--left::before {
    content: '';
    background: rgb(74, 74, 74);
    position: absolute;
    left: 165px;
    bottom: 0px;
    height: 130px;
    width: 2px;
}

.car__door--right {
    right: 70px;
}

.car__handle {
    position: absolute;
    width: 20px;
    height: 3px;
    background: rgb(74, 74, 74);
    bottom: 100px;
}

.car__handle--left {
    left: 260px;
}

.car__handle--right {
    right: 85px;
}

.car__arch {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgb(39 39 39);
    position: absolute;
    z-index: 2;
}

.car__arch--left {
    left: 60px;
    bottom: -60px;
}

.car__arch--right {
    right: 40px;
    bottom: -60px;
}

.car__bottom {
    width: 450px;
    height: 25px;
    background-color: #1d79e2;
    position: absolute;
    bottom: 50px;
    left: -15px;
    border-radius: 10px;
}

.car__bottom::after {
    content: '';
    width: 30px;
    height: 10px;
    background: rgb(31 31 31);
    position: absolute;
    right: -70px;
    bottom: 0;
    border-radius: 5px;
    transform: rotate(30deg);
    animation: smoke 15s linear 1 forwards;
}

@keyframes smoke {
    0% {
        box-shadow: 30px 0px 15px #666;
    }

    29% {
        box-shadow: 30px 0px 15px #666;
    }

    30% {
        box-shadow: none;
    }

    69% {
        box-shadow: none;
    }

    70% {
        box-shadow: 30px 0px 15px #666;
    }

    100% {
        box-shadow: 30px 0px 15px #666;
    }
}



.car__wheel {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #ccc;
    border: 20px solid #000;
    outline: 2px dashed rgb(52, 52, 52);
    z-index: 3;
    animation: car-wheel 15s linear 1;
    transition: transform 1s ease 0s;
}

@keyframes car-wheel {
    0% {
        transform: rotate(500deg);
    }

    30% {
        transform: rotate(0deg);
    }

    70% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-500deg);
    }
}

.car__wheel::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px dotted #000;
    position: absolute;
    top: 20px;
    left: 20px;
}

.car__wheel--left {
    position: absolute;
    bottom: 0;
    left: 70px;
}

.car__wheel--right {
    position: absolute;
    bottom: 0;
    right: 50px;
}